<div class="col">
    <div class="card h-100">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title mb-2">{{ post.title|title }}</h5>
            <p class="card-text mb-3">{{ post.desc }}</p>
            <div class="d-flex gap-2 mb-3">
                <a href="{% url 'post_detail' post.id %}" class="btn btn-primary flex-grow-3 w-100">Read</a>
                {% if user == post.author %}
                <a href="{% url 'update_post' post.id %}" class="btn btn-outline-primary flex-grow-1 w-100 border-2"
                    title="Edit Post">
                    <i class="fas fa-edit"></i>
                </a>
                <form action="{% url 'delete_post' post.id %}" method="post" style="display:inline;"
                    class="flex-grow-1 w-100">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger w-100"
                        onclick="return confirm('Are you sure you want to delete this post?');">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between align-items-center mt-auto small text-muted">
                <span>🖊️ <a href="{% url 'author_detail' post.author.id %}" class="author-link">
                        @{{ post.author.username }}</a></span>
                <span>📅 {{ post.created_datetime|date:"d/m/Y" }}</span>
                <a href="{% url 'category_detail' post.category.id %}" class="category-badge category-badge-link">
                    {{ post.category.name|title }}</a>
            </div>
        </div>
    </div>
</div>